@page "/Home"
@using FuelStation.Model.Enums;
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<h3>Home</h3>

<td>
 <h3> Welcome to Shark Fuel Station!</h3>
</td>



@code {



}