@model ErrorViewModel
@{
    ViewData["Title"] = "Error Delete";
}

<h1 class="text-danger">Error.</h1>
<p class="text-danger">You can not perform that delete request. Please check the relations of the object!</p>
