@inject HttpClient httpClient
@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "Manager")]
@inject IJSRuntime jsRuntime
@page "/ledger"
@using FuelStation.Web.Shared;
<ShopTitle></ShopTitle>
<h3>Monthly Ledgers</h3>

<p>Please type Shark Fuel Station monthly Rent: </p>
<div class="row">
    <div class="col-md-3">
        <InputNumber @bind-Value="Rent" class="form-control" placeholder="0" />
    </div>
</div>
<div class="row">
    <div class="col-md-2 mt-3">
        <BootstrapButton ButtonType="BootstrapButtonType.Success" OnClick="CalcLedgers">Go</BootstrapButton>
    </div>
</div>

@code {
    private int Rent { get; set; }

    private void CalcLedgers() {
        if (Rent < 0) {
            jsRuntime.InvokeVoidAsync("alert", "Rent cant be negative");
        } else {
            navigationManager.NavigateTo($"ledgerList/{Rent}");
        }
    }
}